{% extends "base_dashboard.html" %}
{% load static %}

{% block title %}
    <title>HR | {{ object.first_name }}</title>
{% endblock %}

{% block link %}
    
{% endblock %}


{% block content %}
<br>
<br>
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard_admin' %}">Inicio</a></li>
      <li class="breadcrumb-item"><a href="{% url 'candidate_list' %}">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ object.first_name }}</li>
    </ol>
</nav>

{% endblock %}